<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
<meta property="qc:admins" content="25322764376510156375" />
<meta name="baidu-site-verification" content="2MKKT6mbuL" />
<meta charset="utf-8" />
<meta name="description" content="一秀移动场景应用自营销管家,免费为中小微企业或团队提供业务场景应用展示、潜在客户在线报名收集、管理和二次营销" />
<meta name="keywords" content="易企秀,免费,免费移动场景应用自营销管家,移动场景自营销管家,移动场景自营销工具,活动自营销管家,场景展示,免费的报名页,收集潜在客户,二次营销,轻CRM,提高移动场景营销效果" />
<meta name="viewport"content="width=device-width, initial-scale=1.0" />
<meta property="qc:admins" content="25322764376510156375" />
<meta property="wb:webmaster" content="354b970d8cd61602" />
<title>一秀|免费移动场景应用自营销管家</title>
<script>
var PREFIX_URL = "http://"+window.location.host+"/json/"; 
   var JSON_URL = "http://"+window.location.host+"/index.php";
  var PREFIX_S1_URL = "http://"+window.location.host+"/";
  var PREFIX_S2_URL = "http://"+window.location.host+"/";
  var PREFIX_HOST = "http://"+window.location.host+"/";
  var PREFIX_FILE_HOST = "http://"+window.location.host+'/Uploads/'; 
   var SYS_FILE_HOST = "http://"+window.location.host+"/Uploads/";
  var CLIENT_CDN = "http://"+window.location.host+"/";
  var INTERVAL_OBJ = {}; // 用于图集使用的定时器对象
   
   
  function gt_custom_ajax(result, selector) {
    selectorA = selector;
    if (result) {
      //当验证成功时,延迟2秒自动刷新验证码
      /*setTimeout(function() {
        selector(".gt_refresh_button").click();
      }, 2000);*/
      challenge = selector(".geetest_challenge").value;
      validate = selector(".geetest_validate").value;
      seccode = selector(".geetest_seccode").value;
      submit = true;
    }
  }
</script>
    <!-- 前台 -->
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<style type="text/css">*{font-family:微软雅黑;}</style>
	<script type="text/javascript" src="/static/js/jquery1.8.js?1"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/mycorebar.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<style type="text/css">.shipinjiaocheng{position:absolute;top:60px;right:15px;width:350px;height:233px;border:5px solid #B44A4A;border-radius:6px;background-color:#B44A4A;}.ukuif{border-radius:4px;}</style>
	<script type="text/javascript">$(document).ready(function(){$( "#shipinjiaocheng").draggable({containment:"parent",handle:"#shipinjiaochengb"});});</script>
	<!-- 前台结束 -->



   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/jqueryui/1.10.4/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/angular-ui-select/0.8.3/select.min.css"/>
    <!-- compiled CSS -->
    
    
<link rel="stylesheet" href="/Public/css/eqShow-common-2.9.1.css"/>
    <link rel="stylesheet" href="/Public/css/ui-grid.min.css"/>
    <link rel="stylesheet" href="/Public/css/hint.min.css"/>
    <link rel="stylesheet" href="/Public/css/bootstrap.vertical-tabs.min.css"/>
    <link rel="stylesheet" href="/Public/css/eqShow-2.9.1.css"/>



	<script src="/Public/js/jquery.min.js"></script>
    <script src="/Public/js/jquery-ui.min.js"></script>
    <script src="/Public/js/jquery.Jcrop.min.js"></script>
    <script src="/Public/js/angular.min.js"></script>
    <script src="/Public/js/angular-route.min.js"></script>
    <script src="/Public/js/angular-animate.min.js"></script>
    <script src="/Public/js/angular-sanitize.min.js"></script>
    <script src="/Public/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/Public/js/select.min.js"></script>
    <script src="/Public/js/sortable.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/Chart.min.js"></script>
    <script src="/Public/js/ZeroClipboard.min.js"></script>
    <!-- compiled JavaScript -->
    
 
    
      <script src="/Public/eq/2.7/ui-grid.min.js"></script>
    <script src="/Public/eq/2.7/bootstrap-wysiwyg.min.js"></script>
    <script src="/Public/eq/2.7/jquery.hotkeys.min.js"></script>
    <script src="/Public/eq/2.7/angular-file-upload.min.js"></script>
    <script src="/Public/eq/2.7/angular-file-upload-directives.min.js"></script>
    <script src="/Public/eq/2.7/angular-locale_zh-cn.min.js"></script>
    <script src="/Public/eq/2.7/hammer.min.js"></script>
    <script src="Public/eq/2.9/eqShow-2.9.1.js"></script>
    
<style>
.myGrid {
	width: 998px;
	height: 550px;
}
.myGrid1 {
  width: 650px;
  height: 550px;
}
.choose_template .main .content .mask ul li .roll :hover .cc{
  display: block;
}
</style>

</head>
 
<body>

  <div style="z-index:2000;" id="notify" ng-include="'notifications.tpl.html'" ng-if="notifications.getCurrent().length"></div>
	<div id="eq_main" ng-view></div>


<script>
  var submit = false;
  var challenge, validate, seccode, selectorA;
</script>
<div  style="opacity:0; ">
</div>
</body>
</html>
